

.texto-menor {
    font-size: 13px
}

.divs-facilidades {
    width: 325px;
}

.div-novidades {
    width: 325px;
}

@media(min-width: 768px) {

    .div-novidades {
        width: 696px;
    }

}

.bg-color-black {
    background-color: black
}

.lt-color-green {
    color: #daff01;
    font-weight: bold;
}

.icon-color-green {
    color: #daff01;
}

.bg-color-purple {
    background-color: #9353ff;
}

.texto-facilidades{
    color:silver; 
    width: 120px;
}

.posicao{
    top: 40%;
}

@media(max-width: 767px){
    .posicao{
        top:60%;
    }
}